# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db